@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(assets-images/fundo.home.png);
  background-size: 500px;
  background-repeat: repeat;
}

/* NAVBAR */

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar {
  width: 90%;
  margin: 25px auto;
  background: #0c4b16;
  border-radius: 20px;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 150px;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  font-size: 14.5px;
  text-decoration: none;
  transition: color 0.2s;
}

.nav-links a {
  font-size: 14.5px;
  color: #fff;
  text-decoration: none;
  transition: color 0.1s;
}

.nav-links a:hover {
  color: #ff7724;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pedido-btn {
  background: #f97316;
  border: none;
  color: white;
  padding: 12px 22px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
}

.icons {
  display: flex;
  gap: 15px;
  color: white;
  font-size: 20px;
}

/* HERO */

.hero {
  width: 100%;
  height: 100vh;

  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1622973536968-3ead9e780960?q=80&w=1400");

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;

  padding-left: 80px;
}

.hero-content {
  max-width: 600px;
  color: white;
}

.hero-content h1 {
  font-size: 60px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #e5e5e5;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.orange-btn {
  background: #f97316;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 40px;
  font-weight: 600;
  cursor: pointer;
}

.dark-btn {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 15px 30px;
  border-radius: 40px;
  cursor: pointer;
}

/* CATEGORIAS */

.categorias {
  padding: 80px 10%;
  text-align: center;
}

.categorias h2 {
  margin-bottom: 40px;
  font-size: 40px;
}

.categoria-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.categoria-card {
  width: 170px;
  height: 170px;
  background: #f97316;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  color: white;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

  transition: 0.3s;
}

.categoria-card:hover {
  transform: translateY(-10px);
}

.categoria-card i {
  font-size: 45px;
}

/* RESTAURANTE */

.restaurante {
  padding: 80px 10%;
}

.restaurante h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
}

.restaurante-content {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
}

.galeria {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.galeria img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 20px;
}

.restaurante-text {
  flex: 1;
}

.restaurante-text h3 {
  font-size: 35px;
  margin-bottom: 20px;
}

.restaurante-text p {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

/* DESTAQUES */

.destaques {
  padding: 80px 10%;
}

.destaques h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

.foods {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.food-card {
  width: 340px;
  background: white;
  border-radius: 25px;
  overflow: hidden;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

  transition: 0.3s;
}

.food-card:hover {
  transform: translateY(-10px);
}

.food-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.food-content {
  padding: 20px;
}

.food-content h3 {
  margin-bottom: 10px;
}

.food-content p {
  color: #666;
  margin-bottom: 20px;
}

.food-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-bottom span {
  font-size: 22px;
  font-weight: bold;
}

.food-bottom button {
  background: #f97316;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
}

/* FOOTER */

footer {
  background: #0c4b16;
  padding: 60px 10%;
  text-align: center;
  color: white;
}

footer img {
  width: 180px;
  margin-bottom: 30px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.footer-links a {
  font-size: 14.5px;
  color: #fff;
  text-decoration: none;
  transition: color 0.1s;
}

.footer-links a:hover {
  color: #ff7724;
}

.contato-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

.contato-info p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #f1f1f1;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 24px;
  margin-bottom: 30px;
}

/* RESPONSIVO */

@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    gap: 20px;
  }

  .hero {
    justify-content: center;
    text-align: center;
    padding: 20px;
  }

  .hero-content h1 {
    font-size: 42px;
  }

  .hero-buttons {
    justify-content: center;
  }

  .restaurante-content {
    flex-direction: column;
  }

  .galeria {
    grid-template-columns: 1fr;
  }
}
